

.container{
    margin-left: 50px;
    background-color: antiquewhite;
    margin-top:150px;
    height:auto;
    width: 60%;
    border-radius: 8px solid red;
    
}
.forg{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.form-control{
   margin-top: 10px;
   border-radius: 5px;
}

.mb-3{
    margin-top: 20px;
}
.btne{
    margin-left: 40%;
}
.btne button{
    width: 130px;
    height: 40px;
    background-color:rgb(211, 211, 230);
    border-radius: 8px;
    margin-left: 50px;
}

.mb-3  input{
    width: 500px;
    height: 40px;
    margin-left:250px;
    border: 3px solid rgb(188, 179, 179);
    padding: 6px;

}
.mb-3  label{
    margin-top: 15px;
    margin-left: 250px;
}

.mb-3 textarea{
    width: 500px;
    margin-left: 250px;
    margin-top: 0;
    border: 3px solid rgb(188, 179, 179);
}
.mb-3 select{
    width: 500px;
    height: 40px;
    margin-left: 250px;
    border-radius: 8px;
    border: 3px solid rgb(188, 179, 179);
}
.mb-3 p{
margin-left: 250px;
}