;


@mixin placeOn {
    &::-webkit-input-placeholder {
      color: #8d9dac;
    }

    &::-moz-input-placeholder {
      color: #8d9dac;
    }

    &::-ms-input-placeholder {
      color: #8d9dac;
    }

    + label {
       left: -100px;
       opacity: 0;
      
        
      + i {
        opacity: 1;
      }

    }  
}

body {
    background-color: #f4f7f9;
}

.container {
    width: 450px;
    margin: 50px auto;
    min-height: 200px;
    padding: 50px;
    text-align: center;
    position: relative;
}
    h1{
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 40px;
    }
  
    p {
        font-family: 'Quicksand', sans-serif;
        color: #888;
        margin-top: 50px;
    }
 
    .blank_space {
      height: 75px;
      display: block;
    }
    
    .fieldRow {
        position: relative;
        display: inline-block;
        width: 450px;
        margin: 10px 0;
    
     
    }
      
     
    
     
        .iconCheck {
          color: #98a7b4 !important;
        }
      
      
     
          .zoomBtn {
            display: none;
          }
          
          .closeBtn {
            display: block;
          }
        
      
      
    
    
    input {
        display: inline-block;
        padding: 8px 50px;
        border-radius: 4px;
        border: solid 2px #d2dbe2;
        height: 55px;
        box-sizing: border-box;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        transition: all .3s ease-in-out;
        color: #000;
      
    }
        
         label {
            position: absolute;
            display: inline-block;
            top: 15px;
            left: 20px;
            color: #8d9dac;
            font-family: 'Quicksand', sans-serif;
          font-size: 14px;
            font-size: 18px;
            opacity: 1;
            transition: all 0.6s ease;
        }
      
        ::-webkit-input-placeholder {
            color: #FFF;
        }
        
        ::-moz-input-placeholder {
            color: #FFF;
        }
        
        ::-ms-input-placeholder {
            color: #FFF;
        }
    
    
    i {
      position: absolute;
      left: 20px;
      top: 17px;
      opacity: 0;
      color: #8d9dac;
      font-size: 21px;
    }
  
    #iconCC {
       position: initial;
       left: 0;
       opacity: 1;
       color: #999;
       width: 30px;
       display: inline-block;
    }
  
    .closeBtn {
      position: absolute;
      top: 11px;
      right: 10px;
      padding: 8px 10px;
      background-color: #d2dbe2;
      color: #888;
      border-radius: 4px;
      font-size: 14px;
      transition: all 0.7s ease;
      display: none;
      
    }
      
      :hover {
        background-color: #888;
        color: #FFF;
        cursor: pointer;
      }
    
  
    .zoomBtn {
      position: absolute;
      top: 11px;
      right: 10px;
      padding: 8px 10px;
      background-color: #d2dbe2;
      color: #888;
      border-radius: 4px;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      transition: all 0.7s ease;
    }
        
        :after,
        :before {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      
      
      :before {
        content: 'Enlarge the number to better control';
        width: 300px;
        height: 20px;
        padding: 5px 0;
        background-color: #888;
        display: block;
        position: absolute;
        z-index: 1;
        top: -50px;
        visibility: hidden;
        right: 0px;
        border-radius: 4px;
        color: #FFF;
        opacity: 0;
        transition: all 0.7s ease 0.2s;
        transform: translateY(50px);
      }
      
      :after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 20px 0 20px;
        border-color: #888888 transparent transparent transparent;
        content: '';
        top: -21px;
        right: 12px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all 0.7s ease 0.2s;
        transform: translateY(50px);
      }
    
  
    .iconCheck {
      position: absolute;
      right: 20px;
      left: auto;
      top: 17px;
      opacity: 1;
      display: none;
    }
  
    #iconWrong {
      color: #ea4949;
    }
  
    #iconPassed {
      color: #73ba4b;
    }
  


button[type="submit"] {
  width: 450px;
  margin: 20px 0;
  background: transparent;
  border: none;
  background: #4aa9f2;
  color: #FFF;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  transition: all 0.35s ease;
  
  
}

.overlay {
  position: fixed;
  background: #FFF;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 998;
  opacity: 0.6;
  display: none;
  
  
}