@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@500&family=Forum&display=swap');
* {
    box-sizing: border-box;
  }
  
  .active{
    opacity: 0.9;
    margin-top: -50px;
  }

  .active::after{
    display:block;
    border-bottom:solid 2px red;
    content:"";
  }

  .inactive{
   border:none;

  }

  body {
    margin: 0px;
    font-family: 'segoe ui';
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Forum', cursive;
  }
  
  .nav {
    height: 75px;
    width: 100%;
    background-color:beige;
    position: fixed;
    top:0;
    z-index:1000;
  }
  .nav img{
    width: 135px;
    height: 75px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(236, 232, 232);
   
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 25px 13px 10px;
    text-decoration: none;
    color: #131313;
    margin-top: 13px;
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Forum', cursive;
    margin-left: -2px;
  }
  
  .nav > .nav-links > a:hover {
    color: red;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:760px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid black;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
    
      background-color:whitesmoke;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }